<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0"/>
    <services>
      <service name="BankLoanApplicationWCF.WCFServices.CustomerService">
        <endpoint address="" behaviorConfiguration="BankLoanApplicationWCF.WCFServices.CustomerServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="BankLoanApplicationWCF.WCFServices.CustomerService" />
      </service>
      <service name="BankLoanApplicationWCF.WCFServices.LoanService">
        <endpoint address="" behaviorConfiguration="BankLoanApplicationWCF.WCFServices.LoanServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="BankLoanApplicationWCF.WCFServices.LoanService" />
      </service>
      <service name="BankLoanApplicationWCF.WCFServices.LoanEMIService">
        <endpoint address="" behaviorConfiguration="BankLoanApplicationWCF.WCFServices.LoanEMIServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="BankLoanApplicationWCF.WCFServices.LoanEMIService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="BankLoanApplicationWCF.WCFServices.CustomerServiceAspNetAjaxBehavior">
          <webHttp />
        </behavior>
        <behavior name="BankLoanApplicationWCF.WCFServices.LoanServiceAspNetAjaxBehavior">
          <webHttp />
        </behavior>
        <behavior name="BankLoanApplicationWCF.WCFServices.LoanEMIServiceAspNetAjaxBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
